[Unit]
Description=AmoCRM API Latency Probe
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/amocrm-events-monitor/.venv/bin/python /opt/amocrm-events-monitor/app/main_ping_probe.py
WorkingDirectory=/opt/amocrm-events-monitor

[Install]
WantedBy=multi-user.target
